<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <!-- <meta name="viewport" content="width=width-divice initail-scale=1.0"> -->
    <script src="/socket.io/socket.io.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//googleknowledge.github.io/qlabel/src/jquery.qlabel.js"></script>
    <script src="/js/socket.js" charset="utf-8"></script>

    <link rel="stylesheet" href="/css/main.css" media="screen" title="no title">
    <link rel="stylesheet" href="/css/header.css" media="screen" title="no title">
    <link rel="stylesheet" href="/css/sider.css" media="screen" title="no title">
    <link rel="stylesheet" href="/css/media.css" media="screen" title="no title">
    <!-- <link rel="stylesheet" href="/css/profile.css" media="screen" title="no title">
    <link rel="stylesheet" href="/css/settings.css" media="screen" title="no title">
    <link rel="stylesheet" href="/css/home.css" media="screen" title="no title"> -->
    <script src="/js/main.js" charset="utf-8"></script>
  </head>
  <body class="messagesPage">
    <div class="container">
      <header class="header">
        <div class="headTitle">
          <div class="openSideBar">
            <img src="/img/icon/menu2.png" class="openSideBar_img" alt="" />
          </div>
          <div class="mainLogo">
            <h1>NoW<span>here</span></h1>
          </div>

          <div class="topSearch">
            <img src="/img/icon/search.png" alt="" class="topSearchImg" />
            <!-- <input type="input" name="name" value="" placeholder="search People"> -->
          </div>
        </div>
        <!-- <div class="person_left">
          <div class="profile">
            <img src="1" alt="2" />
          </div>
        </div> -->
        <!-- <div class="person_right">
          <div class="myName">
            <ul class="dropDownProfile">
              <div class="name">Simhoon</div>
              <li>Simhoon</li>
              <li>Simhoon</li>
              <li>Simhoon</li>
            </ul>

          </div>
          <img src="/img/icon/down.png" width="15" alt="" class="downImg"  />

        </div> -->
      </header>
      <div class="content open">
        <div class="sideBar" style="">
          <div class="profile">
            <div class="profile_img">
              <img src="/img/icon/profile.jpg" alt="" />
            </div>
            <div class="profile_index">
              <div class="profile_name">
                <%=Username%>
              </div>
              <div class="profile_country">
                <%= Country %>
              </div>
            </div>

          </div>
          <div class="nav">
            <div class="nav_app">
              <ul>
                <li class="nav__list nav_home"><a href="/home"><img src="/img/icon/home.png"><div class="nav__index">Home</div></a></li>
                <li class="nav__list nav_profile"><a href="/profile"><img src="/img/icon/profile.png"><div class="nav__index">Profile</div></a></li>
                <li class="nav__list nav_messages"><a href="/messages"><img src="/img/icon/chat.png"><div class="nav__index">Messages</div></a></li>
                <li class="nav__list nav_settings"><a href="/settings"><img src="/img/icon/setting.png"><div class="nav__index">Settings</div></a></li>
              </ul>
            </div>
            <div class="nav_users">

            </div>
          </div>
          <footer class="footer">
            <span><a href="#" class="helpText">Help</a></span>
            <span><a href="#" class="aboutText">About</a></span>
            <span><a href="#" class="devText">Developer</a></span>
          </footer>
        </div>
        <!-- 상단 헤드 -->

        <!-- 메인 -->
        <article class="article">
          <div class="main">
            <div class="chatView">
              <div class="chatHeader">
                <div class="backButton">
                  <!-- <input type="button" name="backButton" class="backButton_btn" value="Back"></input> -->
                  <img src="/img/icon/backBtn.png" alt="backBtn" name="backButton" class="backButton_btn" />
                </div>
                <div class="partnerView">
                  SYSTEM
                </div>
                <div class="menuButton">
                  <img src="/img/icon/menu_M.png" alt="menu" class="openSideBar_img"/>
                </div>
                <!-- <div class="viewProfile">
                  <input type="button" name="viewProfile" class="viewProfile_btn" value="View Profile"></input>
                </div> -->

              </div>
              <div class="chatIndexBOX">
                <div class="chatIndex chatIndexStatic">

                </div>
              </div>
              <form class="chatFooter">
                <div class="chatInput">
                  <input type="text" name="charInput" value="" placeholder="Type your message" id="m" autocomplete="Off">
                </div>
                <div class="chatSend">
                  <button type="button" name="name">Send</button>
                </div>
              </form>
            </div>

            <!-- 오른쪽 유저리스트 사이드바 -->
            <div class="asideBar">
              <div class="search">
                <img src="/img/icon/searchGray.png" alt="" />
                <input type="text" name="name" value="" placeholder="Search users">
              </div>
              <ul class="usersList">
                <!-- <li class="usersBox">
                     <div class="usersProfile">
                       <img src="" alt="" />
                     </div>
                     <div class="usersIndex">
                       <div class="usersName">박규동동동</div>
                       <div class="usersCountry">KOREA</div>
                     </div>
                </li> -->
              </ul>
            </div>

          </div>
        </article>
      </div>
    </div>

  </body>

</html>
