<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Settings</title>

    <link rel="stylesheet" href="/css/main.css" media="screen" title="no title">
    <link rel="stylesheet" href="/css/header.css" media="screen" title="no title">
    <link rel="stylesheet" href="/css/media.css" media="screen" title="no title">
    <link rel="stylesheet" href="css/settings.css" media="screen" title="no title">
    <link rel="stylesheet" href="css/sider.css" media="screen" title="no title">

    <!-- <script src="/socket.io/socket.io.js"></script> -->
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/js/main.js" charset="utf-8"></script>
  </head>
  <body class="settingsPage">
    <div class="container">
      <header class="header">
        <div class="headTitle">
          <div class="openSideBar">
            <!-- <img src="/img/icon/menu2.png" class="openSideBar_img" alt="" /> -->
          </div>
          <div class="mainLogo">
            <h1>NoW<span>here</span></h1>
          </div>

          <div class="topSearch">
            <p>
              Save
            </p>
              <img src="/img/icon/next.png" alt="" class="topSearchImg" />
          </div>
        </div>
      </header>
      <div class="content">
        <div class="sideBar" style="">
          <div class="profile">
            <div class="profile_img">
              <img src="/img/icon/profile.jpg" alt="" />
            </div>
            <div class="profile_index">
              <div class="profile_name">
                <%=Username%>
              </div>
              <div class="profile_country">
                <%= Country %>
              </div>
            </div>

          </div>
          <div class="nav">
            <div class="nav_app">
              <ul>
                <li class="nav__list nav_home"><a href="/home"><img src="/img/icon/home.png"><div class="nav__index">Home</div></a></li>
                <li class="nav__list nav_profile"><a href="/profile"><img src="/img/icon/profile.png"><div class="nav__index">Profile</div></a></li>
                <li class="nav__list nav_messages"><a href="/messages"><img src="/img/icon/chat.png"><div class="nav__index">Messages</div></a></li>
                <li class="nav__list nav_settings"><a href="/settings"><img src="/img/icon/setting.png"><div class="nav__index">Settings</div></a></li>
              </ul>
            </div>
            <div class="nav_users">

            </div>
          </div>
          <footer class="footer">
            <span><a href="#">Help</a></span>
            <span><a href="#">About</a></span>
            <span><a href="#">Developer</a></span>
          </footer>
        </div>
        <!-- 상단 헤드 -->

        <!-- 메인 -->
        <article class="article">
          <div class="main">
            <!-- <div class="setBox_2">

            </div> -->
            <div class="setBox_1">
              <div class="setProfile">
                <div class="basic">

                </div>
                <div class="setProfileName">
                  <label for="file" class="setProfileImgView"></label>
                  <input type="file" name="file" value="">
                </div>

                <div class="setProfileName">
                  <label for="setFirstName" class="nameView"></label>
                  <input type="text" name="setFirstName" value="" placeholder="firstName" class="setInput">
                  <input type="text" name="setLastName" value="" placeholder="lastName" class="setInput">
                </div>
                <div class="profileMail">
                  <label for="setFirstName" class="mailView"></label>
                  <input type="text" name="setMail" class="setEmail setInput" value="" placeholder="JohnSoo@KingGod.com">
                </div>
                <div class="language">
                  <label for="korean" class="languageView"></label>
                  <button type="button" name="korean" class="setBtn ko">한국어</button>
                  <button type="button" name="English" class="setBtn en">English</button>
                  <button type="button" name="Japanese" class="setBtn jp">日本語</button>
                </div>
                <div class="nullform">
                </div>
                <div class="secessionBtn">
                  <button type="button" name="name" value="계정 삭제"></button>
                </div>
              </div>
            </div>
            <!-- <div class="setBox_2">

            </div> -->
          </div>
        </article>
      </div>
    </div>
  </body>

</html>
