html, body{
  margin: 0px;
  padding: 0px;
}
.homePage .content{
  display: flex;
  flex-direction: row;
}
.homePage .article{
  flex:7;
  display: flex;
  flex-direction: row;
}
.homePage .main{
  overflow: scroll;
  flex:7;
  padding: 5%;
}
#columns{
  column-width:300px;
  column-gap: 15px;
}
#columns figure{
  display: inline-block;
  border:1px solid rgba(0,0,0,0.2);
  margin:0;
  margin-bottom: 15px;
  padding:10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);;
}
#columns figure:hover{
  background-color: rgb(240, 240, 240);
}
#columns figure img{
  width:100%;
}
#columns figure figcaption{
  border-top:1px solid rgba(0,0,0,0.2);
  padding:10px;
  margin-top:11px;
}
.hash{
  display: inline-block;
  font-size: 9pt;
  padding: 3px 6px;
  background-color: #66A8CF;
  color:white;
  border: 1px solid #66A8CF;
  border-radius:11px;
  margin-right: 5px;
  float: right;
}
.figureName{
  margin-right: 5px;
  display: inline;
}
